{% extends "ngabo/base.html" %}

{% block title %}Password Reset Complete - User Authentication Service{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Password Reset Successful</h4>
            </div>
            <div class="card-body text-center">
                <div class="mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#198754"
                         class="bi bi-shield-lock" viewBox="0 0 16 16">
                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481
                                 0 0 0-.328.39c-.554 4.157.726 7.19 2.253
                                 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55
                                 0 0 0 .101.025.615.615 0 0 0
                                 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726
                                 10.726 0 0 0 2.287-2.233c1.527-1.997
                                 2.807-5.031 2.253-9.188a.48.48 0 0
                                 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C6.845
                                 1.133 6.025 1 5.5 1s-1.345.133-2.162.39ZM8
                                 .113a.5.5 0 0 1 .17.032c.806.26 1.887.605
                                 2.905.915C12.164 1.377 13 1.5 13.5
                                 1.5c.396 0 .74.25.865.626.587 4.41-.804
                                 7.636-2.432 9.767a11.726 11.726 0 0
                                 1-2.504 2.443 7.658 7.658 0 0
                                 1-1.037.618c-.142.067-.28.118-.394.148a1.55
                                 1.55 0 0 1-.494 0 2.87 2.87 0 0
                                 1-.394-.148 7.658 7.658 0 0
                                 1-1.037-.618A11.726 11.726 0 0 1
                                 3.567 11.893C1.939 9.762.548 6.536
                                 1.135 2.126A.978.978 0 0 1
                                 2 1.5c.5 0 1.336.123 2.425.44 1.018.31
                                 2.099.655 2.905.915A.5.5 0 0 1 7.5.113Z"/>
                        <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385
                                 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0
                                 1-.49-.595l.384-1.99a1.5 1.5 0 1
                                 1 2-1.415z"/>
                    </svg>
                </div>

                <p class="text-muted mb-4">
                    Your password has been successfully reset. You can now sign in
                    with your new password.
                </p>

                <a href="{% url 'ngabo:login' %}" class="btn btn-primary w-100">
                    Sign In
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
